*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    padding: 32px 32px;
    min-height: 80px;
    background-color: #1f1f1f;
}

nav img{
    max-height: 48px;
    background-color: white;
}

.spacer{
    /* border: 1px solid yellow; */
    display: inline-block;
    /* Parent width - logo width - Menu <ul> width */
    width: calc(100% - 40px - 268px);
}

nav ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0px;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
    color: white;
}

nav ul li a.current{
    color: aquamarine;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(229, 145, 0);
}

nav ul li a:active{
    color: green;
}

.footer-line{
    border-bottom: 1px solid white;
    display: inline-block;
    /* Parent width - logo width - Menu <ul> width */
    width: calc(100% - 250px);
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #1f1f1f;
    /* color: white; */
}

footer ul{
    margin-bottom: 0;
    
}

.footer-nav-list a:link,
.footer-nav-list a:visited{
    color: rgb(96, 149, 255);
}

.footer-nav-list a:hover{
    color: rgb(229, 145, 0);
}

.footer-nav-list a:active{
    color: green;
}

footer p{
    color: white;
    margin: 32px 0px;
}

footer div nav,
footer div p{
    font-size: 15px;
}